<div class="h-100 w-100">
  <div class="main">
    <div class="page float-end mt-5">
      <div class="d-flex justify-content-center mt-3">
        <h5 class="text-white fw-bold">Login</h5>
      </div>

      <form action="login">
        <div class="m-5 d-flex justify-content-center">
          <label for="UserId" class="form-label text-white fw-bold m-2"
            >UserName:</label
          >
          <input type="text" class="form-control w-50" id="UserId" />
        </div>
        <div class="m-5 d-flex justify-content-center">
          <label for="Password" class="form-label text-white fw-bold m-2"
            >password:</label
          >
          <input type="password" class="form-control w-50" id="Password" />
        </div>
        <div class="loginbtn m-3 d-flex justify-content-center m-5">
          <a href="homes" class="text-white btn btn-outline-success m-3 w-25"
            >Login</a
          >
          <b class="text-white m-3">or</b>
          <a href="create" class="text-white btn btn-outline-info m-3 w-25"
            >create account</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
