.main{
    margin: 0px;
    padding: 0px;
    background-image:url('/loginbg.jpg');
    background-size: 100vw 100vh ;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
}
.page{
    height: 70vh;
    width: 50vw;
   
}
