<div class="h-100 w-100">
  <div class="page">
    <div class="main float-end mt-5 ">
      <div class="container mt-5">
        <div class="form-container">
          <h3 class="text-center mb-4">Create Store Account</h3>
          <form action="createAccount">
            <!-- Store Name -->
            <div class="mb-3 row">
              <label for="UserId" class="col-sm-4 col-form-label fw-bold"
                >Store Name:</label
              >
              <div class="col-sm-8">
                <input type="text" class="form-control" id="UserId" required />
              </div>
            </div>
            <!-- Email -->
            <div class="mb-3 row">
              <label for="email" class="col-sm-4 col-form-label fw-bold"
                >Email:</label
              >
              <div class="col-sm-8">
                <input type="email" class="form-control" id="email" required />
              </div>
            </div>
            <!-- Mobile Number -->
            <div class="mb-3 row">
              <label for="phn" class="col-sm-4 col-form-label fw-bold"
                >Mobile No:</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  maxlength="10"
                  minlength="10"
                  class="form-control"
                  id="phn"
                  required
                />
              </div>
            </div>
            <!-- Store Address -->
            <div class="mb-3 row">
              <label for="address" class="col-sm-4 col-form-label fw-bold"
                >Store Address:</label
              >
              <div class="col-sm-8">
                <input type="text" class="form-control" id="address" required />
              </div>
            </div>
            <!-- Password -->
            <div class="mb-3 row">
              <label for="password" class="col-sm-4 col-form-label fw-bold"
                >Password:</label
              >
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  required
                />
              </div>
            </div>
            <!-- Re-enter Password -->
            <div class="mb-4 row">
              <label for="repassword" class="col-sm-4 col-form-label fw-bold"
                >Re-Enter Password:</label
              >
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  id="repassword"
                  required
                />
              </div>
            </div>
            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-info w-50">
                <a href="login">Create Account</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
