<div class="main " *ngIf="!this.o.url.includes('login') && !this.o.url.includes('create') && !this.o.url.includes('homes')">

  <h1 class="text-white">Welcome To Design Agencies</h1>
   <h3 class="text-white mt-5 d-flex justify-content-end ">🛒 B2B Supermarket Website Project Summary</h3>
  <div class="w-50 overview">
   
    <p class="projo  mt-5">📌 Project  <br>
      The B2B Supermarket Website is an e-commerce platform designed to serve business clients like small retailers,
      hotels, restaurants, and corporate offices. It enables bulk purchasing, account-based pricing, scheduled
      deliveries, and invoice-based payments, streamlining the procurement process for businesses. </p>
      <p class="projo  mt-3">
      🎯 Project Objectives </p>
      <ol class="projo  mt-3">
        <li> Enable bulk ordering of supermarket goods</li>
        <li>Offer custom pricing and volume discounts to registered businesses.</li>
        <li>Provide account management, invoicing, and order tracking tools.</li>
        <li>Allow for scheduled and recurring deliveries.</li>
      </ol>


   
  </div>
  <button type="submit" class="btn btn-outline-info w-50">
  <a href="login">Create Account</a>
  </button>
</div>

 <router-outlet></router-outlet>