h1 {
    text-align: center;
}

.main {
    background-image: url('/app.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

.projo {
    font-size: 1rem;
}

.overview {
    background-color: rgba(0, 0, 0, 0.4); /* Optional: to increase text contrast */
    padding: 1.5rem;
    border-radius: 0.5rem;
}

