<div class="main w-100 bg-dark ">
    <div class="row p-5">
        <div class="col border border-3 border-secondary m-2 text-center w-25">
            <img class="w-100 p-5 " src="kinder.png" alt="">
            <br><a class="text-secondary " style="text-decoration: none;" href="">KinderJoy</a>
        </div>
        <div class="col border border-3 border-secondary m-2 text-center">
            <img class="w-100 p-5" src="nabati.png" alt="">
            <br><a class="text-secondary " style="text-decoration: none;" href="">Nabati</a>
        </div>
        <div class="col border border-3 border-secondary m-2 text-center">
            <img class="w-100 p-5" src="nabati.png" alt="">
            <br><a class="text-secondary " style="text-decoration: none;" href="">Nabati</a>
        </div>
        <div class="col border border-3 border-secondary m-2 text-center">
            <img class="w-100 p-5" src="nabati.png" alt="">
            <br><a class="text-secondary " style="text-decoration: none;"
             href="">Nabati</a>
        </div>
    </div>
</div>